
.header {
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
}

.logo {
  width: 18vw;
  max-width:102px;
  margin: 2rem; 
  margin-bottom: 1rem;
}
.navs-container {
  width:100%;
  font-size: 1.5rem;
  padding: .9rem;
  padding-right: 3rem;
  display:block;
  text-align: center;
  z-index: 4;
}

.nav-der input, .nav-der button  {
  display:inline-block;
  margin: 1.3rem .7rem;
  align-items: center;
  font-size: 1.5rem;
  
}
.nav-der input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid  rgba(255,255,255,.1);
  padding:1rem 2rem;
  width: 9rem;
  border-radius: 2rem;
  
}
.nav-der span {
  text-shadow: 0px 0px 20px #E0F7FA;

}
input::placeholder{
  color: rgba(255,255,255,.6);
}
input[type=text] {
  color: rgba(255,255,255,.7);
}
.heroimage-container, .hero-description , main
{
  position: relative;
  top: -80px;
}
.nav-der button {
  border-radius: 2rem;
  padding: 1rem 1.2rem;
  background-color: thistle;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
}
.header a {
  
text-decoration: none;
color: white;
margin: 1.1rem;
align-items: center;
text-shadow: 0px 0px 20px #E0F7FA;
}
.nav-izq a:nth-of-type(1){
  margin-left: 0px;
}
.heroimage-container {
  /* Al darle altura al contenedor, los elementos que están por debajo se acomodan y lo que está dentro del contenedor se muestra tal cual */
  height: 100px;
}

footer p {

  position: relative;
  top:-25px;
  padding-bottom: 20px;
}

